@using ConferApp.Client.Pages
@using ConferApp.Client.Pages.Admin
@inherits LayoutComponentBase

<Header/>
<div class="bg-info-subtle" style="height:90vh">
@*    <fluentgrid class="p-5">
          @body
      </fluentgrid> *@ 

@*      <RadzenDataGrid>

     </RadzenDataGrid> *@
</div>
<Footer/>

<RadzenComponents />
<RadzenNotification />
<RadzenDialog />